<section class="container-about">
  <div class="align">
      <h2>About Project Music</h2>
      <article>
          <p>Project Music was founded in 2013 by Adrian Bazbaz under the name Experimental Musical Instruments with the goal of creating new and unique musical instruments.  Over time our members began playing music with each other, and found that there was a lack of musical resources available to students who have not pursued music seriously at the college level.  </p>
          <p>At its core, EMI aims to provide these resources for students.  Our goal is to connect students who want to play with each other, regardless of their style, and provide the means to grow and develop musically.  This happens by bringing together students with similar tastes, providing them with ample practice time and expertise, and providing a musical outlet where they can perform their hard work for other students.</p>
          <p>So don’t hesitate to jump in!  Feel free to <%= link_to "contact",            contact_path %> us or <%= link_to "sign up",            signup_path %> to receive updates and opportunities, and start playing music again.</p>
     </article>
     <div class="signature">
         <img src="<%= image_path('signature.png') %>" alt="img 01" />
         <span>
             <p>President</p>
         </span>
     </div>
  </div>
</section>