<div class="container-content">
  <div class="align">
    <div class="pictures">
      <div class="background">
      <h1>Content</h1>
      <h2>To view pictures of Project Music, as well as recordings, click <a href="https://drive.google.com/folderview?id=0B49Bv84mRk-ufkpqS0NfQk8xSFloZk1pbF84ZE5PUk1ueU1pbDRYcjZ0eVJJWUhEdzBaQk0&usp=sharing">here</a>.</h2>
    </div>
    </div>
    <div class="ummavideo">
      <div class="video">
        
       <!-- <iframe id="ytplayer" type="text/html" width="550" height="300"
src="https://www.youtube.com/embed/M7lc1UVf-VE"
frameborder="0"></iframe> --> <h1>Video on the way!</h1>
        
        
        
      </div>
      <div class="description">
        <h1>University Museum of Art</h1>
        <p>Video from our performance at the Museum of Art.  Performers had the opportunity to play just feet away from priceless works of art!  Volume had to be adjusted to prevent micro fractures in art work.</p>
      </div>
    </div>
    <div class="dancevideo">
      <div class="video">
        
      <!--  <iframe id="ytplayer" type="text/html" width="550" height="300"
src="https://www.youtube.com/embed/M7lc1UVf-VE"
frameborder="0"></iframe> --> <h1>Video on the Way!</h1>
        
        </div>
      <div class="description">
        <h1>Dance Marathon</h1>
        <p>Video from our performance at Dance Marathon.  Our set was cut short, but we still had a great chance to play on a giant stage.</p>
      </div>
    </div>
    <div class="aerovideo">
      <div class="video">
        
       <iframe id="ytplayer" type="text/html" width="550" height="300"
src="https://www.youtube.com/embed/l5nD-Zh1cwE"
frameborder="0"></iframe> 
        
        
      </div>
      <div class="description">
        <h1>Aeronautical Festival</h1>
        <p>Video from our performance at the annual aerocnotical festival on north campus.  An awesome venue with great people, this was a fantastic show.</p>
      </div>
    </div>
  </div>
</div>












<!--<script>
  // Load the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // Replace the 'ytplayer' element with an <iframe> and
  // YouTube player after the API code downloads.
  var player;

  
</script>
-->