<section class="container-events">
    <div class="align">
        <h2>Upcoming Events</h2>
        <p>Looking to see us rock out?  Here is a list of upcoming events!  Want one of our groups to perform for you?  <a href="http://www.umprojectmusic.com/contact">Contact Us</a> for inquiry and availability.</p>
        <table>
            <tr>
                <th>Event Name</th>
                <th>Location</th>
                <th>Date</th>
                <th>Group Performing</th>
            </tr>
            <tr>
                <td>MPowered Oscars</td>
                <td>University of Michigan Museum of Art</td>
                <td>2/19/15</td>
                <td>Alternative Rock</td>
            </tr>
            <tr>
                <td>Luther House</td>
                <td>Invite</td>
                <td>2/20/15</td>
                <td>Rock</td>
            </tr>
            <tr>
                <td>Dance Marathon</td>
                <td>Indoor Track and Field House</td>
                <td>3/8/15</td>
                <td>Alternative Rock</td>
                <td><a href="http://www.dmum.org">More Information</a></td>
            </tr>
            <tr>
                <td>End of the Year Show</td>
                <td>Keen Theatre, East Quad</td>
                <td>4/25/15</td>
                <td>All Groups</td>
            </tr>
        </table>
    </div>
</section>