<section class="container-events">
    <div class="align">
        <h2>Upcoming Events</h2>
        <p>Looking to see us rock out?  Here is a list of upcoming events!  Want one of our groups to perform for you?  <a href="http://www.umprojectmusic.com/contact">Contact Us</a> for inquiry and availability.</p>
        <table>
            <tr>
                <th>Event Name</th>
                <th>Location</th>
                <th>Date</th>
                <th>Group Performing</th>
            </tr>
            
        </table>
    </div>
</section>