@import "bootstrap-sprockets";
@import "bootstrap";
/*@media (max-width: 767px) { 
    .navbar-nav.pull-right { float: none!important; }
} */


/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:   border-box;
}

$gray-medium-light: #eaeaea;
$dark-blue: #428bca;
$light-blue: #0CE3E8;
$pink: #FC1068;
$purple: #1F0441;
$yellow: #F9CE07;
$gray-style: #4A4A4A;
$eggwhite: #FFFFE0;


/* universal */

/*html {
 overflow-y: scroll; 
 overflow-x/: hidden;
}*/

body {
  width: 100%; 
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 1500px;
  margin: auto;
}

header {
  max-width: 1500px;
  margin: auto;
}

ul {
  list-style: none;
}


.container {
  width: 100%;
  position: relative;
  display: block;
}


section {
  overflow: auto; 
}

/*.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}
*/
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: Arial;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: white;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* shapes */

/*
#triangle-right {
  position: absolute;
  top: 40em;
  left: 64.2em;
  z-index: 1500;
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 39px solid $eggwhite;
	border-bottom: 25px solid transparent;
}

#triangle-left {
  position: absolute;
  top: 59.15em;
  left: 29.7em;
  z-index: 1500;
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 39px solid $eggwhite;
	border-bottom: 25px solid transparent;
}
*/
	

/* header */


header {
  height: 3em;
  width: 100%;
  background-color: $gray-style;
  opacity: .7;
  z-index: 1600;
}

.navbar-fixed-top {
  z-index: 1600;
}

.navbar-nav {
    position: relative;
    float: right;
    
    li > a {
      color: #FFFECC;
      text-transform: strong;
      text-transform: bold;
      transition: color .5s, background-color .5s, opacity .5s; 
      &:hover {
        color: $gray-light;
        opacity: 1;
        background-color: white;
      }
    }
  }

header img {
  float: left;
  height: 2em;
  margin-top: -.14em;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
 /* &:hover {
    color: white;
    text-decoration: none;
  } */
}

/* footer */

footer {
  clear: both;
  padding-top: 15px;
  border-top: 1px solid white-light;
  color: $gray-style;
  a {
    color: $gray;
    &:hover {
      color: $gray-light;
      text-decoration: none;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}


/* Jumbotron */
#homepage {
  height: 94.5em;
  width: 100%;
  padding: 0px;
 
}
.wrapper {

    height: 37em;
    width: 100%;
  /*  background-image: url('http://i.stack.imgur.com/jGlzr.png'); */
    background-image: image-url("performance/Altrock/coverphoto.jpg");
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: repeat-x;
    border-bottom: 2px solid gray;
    .title  {
      color: #efefef;
      text-decoration: bold;
      font-size: 3em;
    }
    .homebutton {
      position: relative;
      margin-left: 45%;
    }
    
    #jumbotron-title {
      font-size: 5em;
    }
    .title-paragraph {
      font-size: 1.5em;
      color: #efefef;
    }
    }

    #bottom-title {
      margin-top: 8.5em;
    }

    .home-page-title {
      margin-top: 3.6em;
      float: left;
      background-color: $gray-style;
      width: 40em;
    }
    




/* Projects */


  .ptitle {
    float: center;
    margin-top: .85em;
  }

  .row {
    clear: both;
      .col-md-4 {
          /*position: absolute;*/
          a {
            text-decoration: none;
          }
        
      }
  }


/* Contact page */

.container-contact {
  height: 60em;
}

.image-header {
  min-width: 100%;
  margin-left: -1.1em;
}

.contact-main {
  width: 60em;
  margin-left: 20%;
  
  h2 {
    font-size: 1.75em;
  }
}


.content-contact {
  ul {
    li {
      list-style: none;
      text-transform: strong;
    }
  }
}

.colored-gray {
   color: $gray;
  }

/* miscellaneous */
.userbox {
  margin-top: 5em;
}

.debug_dump {
  margin-top: 4em;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar for user */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
      margin-left: 3.5em;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 2em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
      color: $gray-style;
    }
    h2 {
      font-size: 1.5em;
      text-align: left;
      color: $gray-style;
      margin-top: .75em;
    }
  }
}

.gravatar {
  margin-left: 20em;
  padding: 1em;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input label {
  height: auto !important;
}

.form_container {
  margin-top:5em;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.alert {
  margin-top: 3.5em;
}

.form-control {
  margin: .5em;
}

.btn {
  margin: .5em;
}


/*Performance */

.performance-image1 {
    position: relative;
    min-width: 100%;
    height: 35em;
    overflow: hidden;
    background-repeat: none;
    background-attachment: fixed;
    background-image: image-url("performance/Altrock/Altrock_6.jpg");
}

.performance-image2 {
    position: relative;
    min-width: 100%;
    height: 35em;
    overflow: hidden;
    background-repeat: none;
    background-attachment: fixed;
    background-image: image-url("performance/Altrock/Altrock_1.jpg");
}



.performance-jumbotron {
    position: relative;
    background-image: image-url("performance/sunset.jpg");
    min-width: 100%;
    height: 40em;
    background-repeat: none;
    overflow: hidden;
    
    .subtitle {
      margin-right: 29.5em;
      margin-top: 7.5em;
    }
    
    .col-md-12 {
        width: 102%;
        overflow: hidden;
        
        h1 {
          font-size: 5.5em;
          color: $eggwhite;
          margin-right: 12em;
          font-family: 'jaapokki', 'Arial';
        }
    }
}

.band-links {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0em;
  z-index: 20;
  
  a {
    text-decoration: none;
  }
  
  .band-box{
    position: relative;
    background-color: $gray-style;
    float: left;
    width: 25%;
    height:  100px;
    cursor: pointer;
    overflow: hidden;
    opacity: .8;
  }
  
  .cache {
    position: absolute;
    display: block;
    opacity: 0;
    display: block;
    height: 100%;
    width: 100%;
    background-color: #ec2028;
    z-index: 30;
    transition: opacity 200ms;
    
  }
  
  .cache:hover {
    opacity: .8;
  }
  
  .band-title {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 40;
    transition: background-color 200ms;
    
    p {
      margin-top: 2em;
      color: white;
      font-size: 1.25em;
    
    }
  }
  
  .band-title:hover {
    background-color: #ec2028;
  }

}  

  
  .performance-altrock {
    position: relative;
    min-width: 100%;
    height: 40em;
    background-color: $eggwhite;
    overflow: hidden;
    padding-top: 50px;
    margin-top: -50px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
    
    
    h1 {
      letter-spacing: .15px;
    }
    
    h2 {
      color: $gray-style;
     
    }
    
    
    #list-title {
      font-size: 1.25em;
      color: $gray-style;
      margin-left: 2em;
      margin-bottom: 1em;
  
}
    
    .song-list {
      padding: .5em;
      margin-top: 8em;
      margin-left: 7em;
    }
    
    .logistics {
      position: absolute;
      padding-bottom: .5em;
      padding-top: .5em;
      padding-left: 1em;
      margin-left: 27.25em;
      margin-top: -21.3em;
      color: white;
      background-color: $gray-style;
      width: 20em;
    }
    
    .members {
      padding: .5em;
      margin-top: -13.5em;
      margin-left: 28em;
    }
    
  .buttons {
    margin-left: 25%;
  }
  
  #information {
    margin-left: 40%;
  }
    
  }
  
  
  .grid-altrock {
    position: absolute;
    display: block;
    top: 60%;
    left: 5%;
    
    img {
      height: 8em;
      width: 10em;
    }
    
    figure {
      display: inline-block;
    }
  }
  
  
  .performance-rock {
    position: relative;
    min-width: 100%;
    height: 40em;
    background-color: $eggwhite;
    overflow: hidden;
    padding-top: 50px;
    margin-top: -50px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
    
    .performance-rock-col2 {
      margin-top: 1.44em;
    }
    
    h1 {
      letter-spacing: .15px;
    }
    
        h1 {
      letter-spacing: .15px;
    }
    
    h2 {
      color: $gray-style;
      margin-top: 1em;
     
    }
    
    
    #list-title {
      font-size: 1.25em;
      color: $gray-style;
      margin-left: 2em;
      margin-bottom: 1em;
  
}
    
    .song-list {
      padding: .5em;
      margin-top: 8em;
      margin-left: 7em;
    }
    
    .logistics {
      position: absolute;
      padding-bottom: .5em;
      padding-top: .5em;
      padding-left: 1em;
      margin-left: 27.25em;
      margin-top: -22.75em;
      color: white;
      background-color: $gray-style;
      width: 20em;
    }
    
    .members {
      padding: .5em;
      margin-top: -13.2em;
      margin-left: 28em;
    }
    
  .buttons {
    margin-left: 25%;
  }
  
  #information {
    margin-left: 40%;
  }
  }
  
  
  

  .performance-newgroups {
    position: relative;
    min-width: 100%;
    height: 40em;
    background-color: $eggwhite;
    overflow: hidden;
    padding-top: 50px;
    margin-top: -50px;
    -webkit-background-clip: content-box;
    background-clip: content-box; 
    
     .song-list {
      padding: .5em;
      margin-top: 8em;
      margin-left: 7em;
    }
    
    #list-title {
      font-size: 1.25em;
      color: $gray-style;
      margin-left: 2em;
      margin-bottom: 1em;
  
}
    
    .logistics {
      position: absolute;
      padding-bottom: .5em;
      padding-top: .5em;
      padding-left: 1em;
      margin-left: 27.25em;
      margin-top: -18.5em;
      color: white;
      background-color: $gray-style;
      width: 20em;
    }
    
    .members {
      padding: .5em;
      margin-top: -10.5em;
      margin-left: 28em;
    }
    
    
    h1 {
      letter-spacing: .15px;
    }
    
    h2 {
      color: $gray-style;
      margin-top: .2em;
    }
    
    .buttons {
      margin-left: 25%;
    }
    
    #information {
      margin-left: 40%;
    }
  }







  .performance-randalllab {
    position: relative;
    min-width: 100%;
    height: 44.5em;
    background-color: $gray-style;
    overflow: hidden;
    padding-top: 50px;
    margin-top: -50px;
    -webkit-background-clip: content-box;
    background-clip: content-box; 
    
    h1 {
      letter-spacing: .15px;
      color: white;
    }
    
    p {
      color: white;
    }
    
    iframe {
      margin-top: 4em;
    }
  }
  .performance-column {
    margin-top: 5em;
  }
  
  
  
  /* About */
  
  .container-about {
    margin-top: 3em;
    height: 50em;
    h2 {
      color: $gray-style;
      margin-right: 21.7em;
    }
    
    .align {
      width: 60em;
      margin-top: 3em;
      margin-left: 20%;
      
      .signature {
        margin-top: 2em;
      }
    }
  }

.container-events {
  margin-top: 3em;
  height: 50em;
  
  h2 {
    color: $gray-style;
    float: left;
  }
  
  p {
    float: left;
    padding-bottom: 3em;
  }
  
  .align {
    width: 60em;
    margin-top: 3em;
    margin-left: 20%;
    
    table {
      position: absolute;
      top: 20em;
    }
    
    td {
      padding-right: 1em;
      padding-top: 2em;
    }
  
  
    }
}
